/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Resetando margin, padding e box-sizing, e definindo a fonte padrão do documento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Definindo a imagem de fundo para o corpo do documento */
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Configurando o cabeçalho */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: rgba(228, 39, 6, 0); /* cor do fundo com transparência */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

/* Configurando a logo */
.logo {
  font-family: Poppins;
  font-size: 2em;
  color: #fdfdfd;
  user-select: none;
}

/* Configurando a navegação */
.navigation a {
  font-family: Poppins;
  font-size: larger;
  position: relative;
  color: #fdfdfd;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

/* Configurando a linha sob o texto de navegação */
.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #fdfdfd;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: .5s;
}

/* Configurando o efeito hover para a linha sob o texto de navegação */
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* Configurando o botão de login */
.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background-color: rgba(253, 253, 253, 0);
  border: 2px solid #fdfdfd;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: Poppins;
  font-size: larger;
  color: #fdfdfd;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

/* Configurando o efeito hover para o botão de login */
.navigation .btnLogin-popup:hover {
  background-color: #fdfdfd;
  color: #162938;
}


/* Configurando o box de login */
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* aqui faz o outro pop up ficar oculto */
  transform: scale(0); /* aqui faz os pop up ficar oculto da pagina */
  transition: transform .2s ease, height .2s ease;
}


 /* função aonde faz com que a pessoa precise clicar la no botao para aparecer alguma coisa*/
 .wrapper.active-popup
 {
  transform: scale(1); /* aqui faz os pop up aparecer quando clica */
}


.wrapper.active
{
  height: 520px;
}

.wrapper .icon-close
{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px; /* aumenta a largura do elemento */
  height: 45px; /* aumenta a altura do elemento */
  font-size: 2em;
  color: white;
  background: #162938;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px; /* borda do background da parte de baixo */
  cursor: pointer;
  z-index: 1;

  
}






/*deixa o popup de login oculto */
.wrapper .form-box.login
{
  transition: transform .18s ease;
  transform: translateX(0);
} 

.wrapper.active .form-box.login
{
  transition: auto;
  position: absolute;
  transform: translateX(-400px);
}

.wrapper .form-box.register
{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register
{
  transition: transform .18s ease;
  transform: translateX(0);
}

/* Configurando a mensagem de erro */
.errorMessage
{
font-family: Poppins;
font-size: .8em;
color: rgb(228, 39, 6);
margin-top: 20px;
text-align: center;
}
/* Configurando o titulo do box de login */
.form-box h2
{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

/* Configurando as barras do box de login */
.input-box
{
    position:relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

/* Configurando posição email e senha do box de login */
.input-box label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: auto; /* evento da caixa de texto*/
    transition: .5s;
}

.input-box input:focus + label,
.input-box input:valid + label 
{
    top: -5px;
}

/* Configurando caixa de texto do email e senha do box de login */
.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.input-box .icon
{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

/* Configurando parte de esqueceu a senha */
.remember-forgot
{
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input
{
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a
{
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover
{
  text-decoration: underline;
}


/* Configurando o botão de login dentro do box de login */
.btn 
{
width: 100%; /* aumenta a largura do elemento */
height: 45%; /* aumenta a altura do elemento */
background: #162938;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1.2em; /* aumenta o tamanho da fonte */
color: white;
font-weight: 500;
transition: .5s;
transform: scale(100%); /* aumenta o tamanho do elemento*/
}

/* Configurando o efeito hover para o botão de login do box */
.btn:hover {
  background-color: #fdfdfd;
  color: #162938;
}

.login-register /* registre-se*/
{
  font-size: .9em; /* aumenta o tamanho da fonte */
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a 
{
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover /* coloca a linha ao passar o mouse */
{
  text-decoration: underline;
}

